<div class="current-city-weather-container">
    <span class="city-location-name">Gothenburg</span>
    <img class="current-sky" src='./../assets/icons/png/{{currentIcon}}.png' alt="error loading icon" />
    <div class="temperature-wind-container">
        <span class="temperature-text">{{ currentTemperatureMin }}-{{ currentTemperatureMax}} °C</span>
        <span class="wind-speed-text">{{ currentWindSpeed }}m/s</span>
            <div class="date-time-container">
                <span>{{ currentDay }}</span>
                <span>{{ currentTime }}</span>
            </div>
        <span class="current-sky-txt">{{ currentSky }}</span>
    </div>
</div>
